* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    
  }
  .hero {
    height: 100vh;
    width: 100%;
   background-image: url(/background.jpg);
    background-size: cover;
    background-position: center;
    
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
  }
  nav ul li a{
    color: white;
  text-decoration: none;
  }
  nav ul li a:hover{
    color: yellow;
  }
  .write{
    color: white;
  }
  span{
    color: chocolate;
  }
  .but{
    background-color: red;
  }
  .main{
    position: relative;
    top: 20%;
    left: 10%;
    
  }
  h3{
    color: white;
    padding-top: 10px;
   
  }
  h1{
    color: white;
  }
  .iform{
    position: relative;
    top: 20px;
  }
  .go{
    background-color: red;
  }
.second{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #191919;
}
.second img{
    height: auto;
}
.pic{
    margin: 0 auto ;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    color: white;
    padding-left: 20px;
}